html,
body {
  margin:0;
  height:100%;
  box-sizing:border-box;
}
body {
  min-width:480px;
  background:#fff;
  color:#000;
  padding:91px 0 0;
  font:14px/1.1 arial, helvetica, sans-serif;
}
a {
  color:#08f;
  text-decoration:underline;
}
a:hover {
  text-decoration:none;
}